{% extends 'errors/base.html' %}
{% block title %}
	{{ title }}
{% endblock title %}
{% block extra_head %}
	<link rel="stylesheet" href="{{ url_for('errors.static', filename='css/500.css') }}">
{% endblock extra_head %}
{% block body %}
<body>
	<a href="{{ url_for('.home') }}">
		<button class="error-code">
			<div class="number five">
				<div class="cell filled">
					<div class="bug"></div>
				</div>
				<div class="cell filled">
					<div class="bug"></div>
				</div>
				<div class="cell filled">
					<div class="bug"></div>
				</div>
				<div class="cell filled">
					<div class="bug"></div>
				</div>

				<div class="cell filled">
					<div class="bug"></div>
				</div>
				<div class="cell empty"></div>
				<div class="cell empty"></div>
				<div class="cell empty"></div>

				<div class="cell filled">
					<div class="bug"></div>
				</div>
				<div class="cell filled">
					<div class="bug"></div>
				</div>
				<div class="cell filled">
					<div class="bug"></div>
				</div>
				<div class="cell empty"></div>

				<div class="cell empty"></div>
				<div class="cell empty"></div>
				<div class="cell empty"></div>
				<div class="cell filled">
					<div class="bug"></div>
				</div>

				<div class="cell filled">
					<div class="bug"></div>
				</div>
				<div class="cell empty"></div>
				<div class="cell empty"></div>
				<div class="cell filled">
					<div class="bug"></div>
				</div>

				<div class="cell empty"></div>
				<div class="cell filled">
					<div class="bug"></div>
				</div>
				<div class="cell filled">
					<div class="bug"></div>
				</div>
				<div class="cell empty"></div>
			</div>
			<div class="number zero">
				<div class="cell empty"></div>
				<div class="cell filled">
					<div class="bug"></div>
				</div>
				<div class="cell filled">
					<div class="bug"></div>
				</div>
				<div class="cell empty"></div>

				<div class="cell filled">
					<div class="bug"></div>
				</div>
				<div class="cell empty"></div>
				<div class="cell empty"></div>
				<div class="cell filled">
					<div class="bug"></div>
				</div>

				<div class="cell filled">
					<div class="bug"></div>
				</div>
				<div class="cell empty"></div>
				<div class="cell filled">
					<div class="bug"></div>
				</div>
				<div class="cell filled">
					<div class="bug"></div>
				</div>

				<div class="cell filled">
					<div class="bug"></div>
				</div>
				<div class="cell filled">
					<div class="bug"></div>
				</div>
				<div class="cell empty"></div>
				<div class="cell filled">
					<div class="bug"></div>
				</div>

				<div class="cell filled">
					<div class="bug"></div>
				</div>
				<div class="cell empty"></div>
				<div class="cell empty"></div>
				<div class="cell filled">
					<div class="bug"></div>
				</div>

				<div class="cell empty"></div>
				<div class="cell filled">
					<div class="bug"></div>
				</div>
				<div class="cell filled">
					<div class="bug"></div>
				</div>
				<div class="cell empty"></div>
			</div>
			<div class="number zero">
				<div class="cell empty"></div>
				<div class="cell filled">
					<div class="bug"></div>
				</div>
				<div class="cell filled">
					<div class="bug"></div>
				</div>
				<div class="cell empty"></div>

				<div class="cell filled">
					<div class="bug"></div>
				</div>
				<div class="cell empty"></div>
				<div class="cell empty"></div>
				<div class="cell filled">
					<div class="bug"></div>
				</div>

				<div class="cell filled">
					<div class="bug"></div>
				</div>
				<div class="cell empty"></div>
				<div class="cell filled">
					<div class="bug"></div>
				</div>
				<div class="cell filled">
					<div class="bug"></div>
				</div>

				<div class="cell filled">
					<div class="bug"></div>
				</div>
				<div class="cell filled">
					<div class="bug"></div>
				</div>
				<div class="cell empty"></div>
				<div class="cell filled">
					<div class="bug"></div>
				</div>

				<div class="cell filled">
					<div class="bug"></div>
				</div>
				<div class="cell empty"></div>
				<div class="cell empty"></div>
				<div class="cell filled">
					<div class="bug"></div>
				</div>

				<div class="cell empty"></div>
				<div class="cell filled">
					<div class="bug"></div>
				</div>
				<div class="cell filled">
					<div class="bug"></div>
				</div>
				<div class="cell empty"></div>
			</div>
		</button>
	</a>
</body>
{% endblock body %}
